/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: "Ubuntu", sans-serif;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: white;
  border: 3px solid #c2c2c286 !important;
  padding: 10px 25px !important;
  font-weight: bold;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 47%;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #999 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #999 transparent;
  top: 28% !important;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #777;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-weight: bold;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgba(4, 83, 55, 0.2);
  color: black;
}
.same-as-selected {
  /* background-color: #045337; */
  color: black !important;
}
